.half-block {
    width: 50%;
    position: absolute;
    height: 100%;
    padding-bottom:74px;
}
.list-item.catalog-item:hover a {
    color: white;
}
.list-item.catalog-item:hover {
    background: #428bca;
}
.list-item:hover {
    background: #fff;
}
.list-item_header {
}
.wrapper:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.wrapper {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    font-size: 32px;
}
.list-item {
    text-align: center;
    position: relative;
    height: 33%;
    -webkit-transition: background 200ms linear;
       -moz-transition: background 200ms linear;;
         -o-transition: background 200ms linear;;
            transition: background 200ms linear;;
}
.list-item:last-child {
    height: 34.8%;
}
.list {
    height: 100%;
    margin:0;
}
.list-base {
    height: 100%;
}
