{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/catalog_style.css" type="text/css" />
{% endblock %}
{% block js %}
    <script src="{{STATIC_URL}}js/authors.js"></script>
{% endblock %}
{% block ng_app %}authorsApp{% endblock %}
{% block content %}
{% verbatim %}
    <div ng-view>Loading...</div>
{% endverbatim %}
{% endblock %}
