{% extends "base.html" %}
{% block content %}
{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" />
{% endblock %}
<div class="i-left half-block i-absolute i-lt bg-info">
    <h1 class="i-center">API</h1>
    <div class="list-base">
        <ul class="list i-clear-list i-padding0">
            <li class="list-item">
                <a href="{% url 'author-list' %}">
                    <div class="wrapper">Authors</div>
                </a>
            </li>
            <li class="list-item">
                <a href="{% url 'section-list' %}">
                    <div class="wrapper">Sections</div>
                </a>
            </li>
            <li class="list-item">
                <a href="{% url 'book-list' %}">
                    <div class="wrapper">Books</div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="i-right half-block i-absolute i-rt bg-info">
    <h1 class="i-center">CLIENT</h1>
    <div class="list-base">
        <ul class="list i-clear-list i-padding0">
            <li class="list-item catalog-item">
                <a href="{% url 'catalog:authors' %}">
                    <div class="wrapper">Authors</div>
                </a>
            </li>
            <li class="list-item catalog-item">
                <a href="{% url 'catalog:sections' %}">
                    <div class="wrapper">Sections</div>
                </a>
            </li>
            <li class="list-item catalog-item">
                <a href="{% url 'catalog:books' %}">
                    <div class="wrapper">Books</div>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

