<div class="form-detail-base">
    <form enctype="multipart/form-data" id="detail-form">
        <label>name</label>
        <input class="form-control" type="text" name="name" value="" ng-model="item.name"/>
        <label>short_text</label>
        <input class="form-control" type="text" name="short_text" value="" ng-model="item.short_text"/>
        image
        <input type="file" file-model="file" />
        <div ng-if="item.image">
            <img src="/media/{{ item.image }}" />
        </div>
        <label>section</label>
        <div>
            <select class="form-control" name="section" id="section" ng-model="currentSection" ng-change="sectionChanged()"
                ng-options="item.name for item in sections"></select>
        </div>
        <label>authors</label>
        <div>
            <select class="form-control" name="author" id="author" ng-model="currentAuthors" ng-change="authorsChanged()"
                ng-options="author.name for author in authors" multiple="multiple"></select>
        </div>
    </form>
    <div ng-include src="'/static/html/buttons.html'"></div>
</div>
