<div class="row">
    <div class="col-xs-6">
        <button ng-click="save()" class="btn btn-primary">Save</button>
    </div>
    <div class="col-xs-6 i-text-right">
        <div ng-if="item.id">
            <button ng-click="delete()" class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>
