<div class="form-detail-base">
    <form>
        <label>Имя</label>
        <input type="text" class="form-control" name="name" value="" ng-model="item.name">
    </form>
    <div ng-include src="'/static/html/buttons.html'"></div>
</div>
