<div class="container">
    <div class="item-block row" ng-repeat="item in items">
        <div class="col-xs-6">
            <span class="i-biggest-text item-block_caption">{{ item.name }}</span>
        </div>
        <div class="i-biggest-text col-xs-6 i-text-right">
            <a href="#/edit/{{ item.id }}">Edit</a>
        </div>
    </div>   
    <div class="row">
        <div class="col-xs-6">
            <div ng-if="prev" class="i-inline">
                <br/><a href="#/{{ prev }}" class="i-biggest-text">PREV</a>
            </div>
        </div>   
        <div class="col-xs-6 i-text-right">
            <div ng-if="next" class="i-inline">
                <br/><a href="#/{{ next }}" class="i-biggest-text">NEXT</a>
            </div>
        </div>   
    </div>
</div>
<div class="i-center"><a href="#/new" class="btn btn-success btn-lg">Add</a></div>
