<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Inteduca</title>
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/i-style.css" type="text/css" />
    {% block css %}{% endblock %}
</head>
<body>
<div class="data-block" data-type="{{ type }}"></div>
<div class="content" ng-app="{% block ng_app %}{% endblock %}">
    {% block content %}{% endblock %}
</div>

<script src="{{STATIC_URL}}js/jquery.js"></script>
<script src="{{STATIC_URL}}js/angular.min.js"></script>
<script src="{{STATIC_URL}}js/angular-1.2.18/angular-route.min.js"></script>
{% block js %}{% endblock %}
</body>
</html>
